<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" th:href="@{/styles.css}" />
</head>
<body>
<h1>User Management</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users.content}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>

    </tr>
    </tbody>
</table>

<div th:if="${currentPage > 0}">
    <a th:href="@{/}?page=${currentPage - 1}">Previous</a>
</div>
<div th:if="${!users.last}">
    <a th:href="@{/}?page=${currentPage + 1}">Next</a>
</div>

<a href="/add">Add User</a>




</body>
</html>
